:root{
    --mau--tim: #8ba48a;
    --mau-nen:#f6ffde;
}
.ul-header1{
    width: 100%;

}
body{
    margin: auto;
    max-width: 1300px;
}
@media   (max-width: 1300px) {
    body {

    }
}
.header-content-1{
    display: grid;
    grid-template-columns: 70% 30%;
}
.header-content-2{
    display: grid;
    grid-template-columns: 30% 50% 20%;
}
.header-content-3{
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
}

.home_a{
    width: 100%;
    max-height: 36px;
    min-height: 36px;
}
.right{
    float: right;

}
.nav{
    position: fixed;
    /*background-color: #718096;*/
    background-color: var(--mau--tim);
    max-width: 100%;
    min-width: 100%;
    top:0;
    left: 0;

}
.kq{
    display: flex;
}
.tong_so{
    outline: none;
    border: none;
    width: 50px;
    text-align: center;
}
.header{
   max-width: 1300px;
    margin: auto;

}
.header h1{
    cursor: pointer;
}
.header a{
    text-decoration: none;
    color: aliceblue;
}
.header a:hover{
    color: #4b5563;
}
a{
    text-decoration: none;
}
.search{

max-width: 100%;
}

.icon-search{
    height: 26px;
    max-width: 6%;
    margin-left: -5px;
    border: none;
    background-color: white;
}
h1{
    color: aliceblue;
    font-family: Emoji;
    font-size: xx-large;
    font-weight: unset;
    cursor: default;
}

.s1{
    /*margin-top: 25px;*/
    width: 93%;
    border-radius: 5px;
    height: 30px;
    border: none;
    outline: none;
}
.giohang{
    padding-top: 20px;
    text-align: center;
}
.text-giua{
    text-align: center;
    margin: auto;
}
.icon{
    width: 7%;
    cursor: pointer;
    height: 28px;
    margin-left: -0.3%;
    border: none;
    border-radius: 5px;
    margin-top: -1%;
}

.anh_sp{
    height: 60%;
    object-fit: contain;
}
.form-control{
    height: 30px;
    width: 100%;
    border-radius: 10px;
}
.body-home{
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 70px;
    display: block;
    /*background-color: var(--mau-nen) ;*/

}
.chart-container {
    width: 400px;
    height: 300px;
}
.margin-top{
    padding-top: 50px;
}
.kttk{
    padding-top: 5%;
}
#search{
    background-color: white;
    height: 30px;
    max-width: 449px;
    margin-top: 20px;
}
.td-sp{
    margin-top: 2.5%;
    margin-left: 2%;
    width: 170px;
    height: 190px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
    text-align: center;
    float: left;
    display: inline-block;
    min-width: 140px;
}
.tk_1{
    width: 100%;
   height: auto;
}
.tk_1:after{
    content:"";
    clear: both;
    display: table;
}
.td-sp2{
    margin-left: 2%;
    width: 170px;
    height: 190px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
    text-align: center;
    float: left;
}
.show_sp{
    width: 90%;
    margin: auto;
    padding-top: 10%;
}
.show_sp_left{
    width: 30%;
    float: left;
}
.khung_sp{
    width: 100%;
}
.ct_anh{
    object-fit: contain;
    height: 311px;
}
.ct_photos:hover{
    position: absolute;
    top:30%;
    left: 500px;
    transform: scale(2);
    z-index: 1000;
}
.ct_photos{
    width: 30%;
    height: 20%;
    margin-top: 2%;
}

.show_li{
    display: inline-block;
    width: 20%;
}
.show_sp{
    width: 90%;
    margin: auto;
}
.show-lr{
    display: grid;
    grid-template-columns: 45% 55%;

}
#box{
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
table{
    text-align: center;
    width: 50%;
}
.table_show{
    width: 100%;
}
td{
    width: 20%;
}
.show_sp_giohang{
    margin-top: 5%;
    min-width: 180px;
    overflow: visible;
    height: 35px;
    text-decoration: none;
    color: darkred;
    cursor: pointer;

}
.ten_bl{
    display: inline-block;
}
.h2-cungloai{
    padding-left: 10%;
}
.gia_show{
    display: inline-block;
    color: #718096;
}
.giaban_show{
    font-size: 40px;
    color: red;
    margin-left: 2%;
}
#s_l{
    width: 100px;
}
.btn-show{
    width: 50px;
}
.div-2{
width: 90%;
    margin: auto 5%;
}
.btn-primary{
    width: 100px;
    margin-top: 10px;
}
.show_left2{
    float: left;
    width: 80%;
}
.show_right2{
float: right;
    width: 17%;
}
p{
    font-size: 100%;
}
.icon-cart{
    font-size: 30px;
}
.cungloai{
    width: 100%;
}
.main_register{

    background-image: url("https://th.bing.com/th/id/OIP.khnlZ9tcdnkqOmwg8kZ39AHaHR?pid=ImgDet&rs=1");
    margin: auto;
    margin-top: 5%;
    height: 100vh;
}

.register_left{
    width: 59%;
    float: left;

}
.img_register{
    width: 80%;
    margin: auto;
}
.register_right{
    width: 40%;
    float: right;

}
.register_table{
    width: 90%;
    margin: auto;
}
.regis_tr{
    height: 20%;
    width: 100%;
}
.sell-main{
    width: 90%;
    margin: auto;
}
.sell-col{
    margin-top: 4.7%;
}
.sell{
    margin-top: 10%;
}
.gb{
    bottom: 0;
}
.scroll-left{
    width: 250px;
    float: left;
    position: fixed;
    left: 40px;
    /*height: 100vh;*/
    /*box-sizing: border-box;*/
    box-shadow: 1px 0 rgba(0, 0, 0, 0.12);
}
.scroll-left2{
    width: 210px;

    float: left;
    /*position: fixed;*/
    padding-top: 2%;
    /*height: 100vh;*/
    /*box-sizing: border-box;*/
    box-shadow: 1px 0 rgba(0, 0, 0, 0.12);
}
.aaa{
    display: grid;
    grid-template-columns: 20% 80%;
}
.scroll-right{
    float: right;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
    padding: 1%;
    margin-top: 2%;
}
.img-header{
    width: 35px;
    height: 35px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;


    padding-top: 17px;
}
.sell-img{
    display: grid;
    grid-template-columns: 30% 70%;
}
ul{
    list-style: none;
}
.li_h{
    line-height: 200%;
}
.li_header{
    line-height: 200%;
}
.sell_header_main{
    height: 7%;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.12);


}
.sell-y{
    margin-top: 5%;
}

.sell_all_ul li{

    display: inline;
    margin-left: 7%;
    font-size: 17px;
}
.sell_table{
    width: 100%;
    margin-top: 1%;
    border-collapse: collapse;
}
.sell_table th,td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #DDD;
}

.tr{
    height: 7vh;
    border-bottom: 1px solid black;

}
/*.sell_table td:nth-child(1){*/
/*   width: 30%;*/
/*    padding-left: 3%;*/
/*}*/
/*.sell_table td:nth-child(2){*/
/*    width: 10%;*/
/*    padding-left: 3%;*/
/*}*/
/*.sell_table td:nth-child(3){*/
/*    width: 10%;*/
/*    padding-left: 3%;*/
/*}*/
/*.sell_table td:nth-child(4){*/
/*    width: 10%;*/
/*    padding-left: 3%;*/
/*}*/
/*.sell_table td:nth-child(5){*/
/*    width: 20%;*/
/*    padding-left: 3%;*/
/*}*/
/*.sell_table td:nth-child(6){*/
/*    width: 20%;*/
/*    padding-left: 3%;*/
/*}*/
.sell_div1{
    display: flex;

}
.create_sell{
   padding-top: 2%;
    margin-left: 30%;
    height: 100%;
}
.create_sell button{
    background-color: aqua;
    height: 30%;
    border-radius: 8px;
    font-size: 120%;
}
.creat_sp ul li{
    display: inline-block;

}
.create_right{
    margin-left: 10%;
}
.text{
    width: 200%;
    height: 5%;
}
.aria{
    width: 200%;
    height: 20%;
}
#aria{
    min-width: 550px;
    min-height: 60px;
    max-height: 65px;
    max-width: 550px;
}
.bbb{
    display: grid;
    grid-template-columns: 60% 40%;
}
#so_luong{
    width: 150px;
    height: 30px;
    border-radius:5 px;
}
.num{
    width:90%;
    height: 5%;
    margin-left: 40%;
}
.dvt{
    display: flex;
    width: 80%;
}
.select_theloai{
    width: 150%;
    height: 5%;
    line-height: 20%;
}
.select_theloai option{
    display: flex;
}
.page{
    width: 100%;
    height: 4%;
}
.im{
    width: 30%;
    height: 30%;
}
.cart {
    display: grid;
    grid-template-columns: 5% 40% 15% 20% 15% 5%;
    margin-top: 100px;
}
.cart-img{
    width: 80px;
    height: 80px;
}
.shipper-img{
    width: 100%;
    height: 100px
}
.bottom-cart{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: white;
}
.bottom-thanhtoan{

    text-align: center;
}
.button-cart{
    width: 100px;
    height: 30px;
    background-color: #fabc03;
}
.button-shipper{
    width: 100%;
    height: auto;
    background-color: #fabc03;
}
.div-tong{
    display: grid;
    grid-template-columns: 90% 10%;
    text-align: right;
}
.div-tong2{
    display: grid;
    grid-template-columns: 70% 22% 8%;
    text-align: right;
}
.session-status{
color: red;
}

.tien-item{
    width: 50%;
}
.div-thanhtoan{
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    /*margin-top: 100px;*/
    margin-bottom: 30px;
    border-bottom: solid 1px black;
}
.content-thanhtoan{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 100px;
}
.content-thanhtoan2{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 30px;
}
.right-thanhtoan{
    position: fixed;
    right: 0;
    height: 100%;
    width: 30%;
}
.table-thanhtoan{
    width: 100%;
}
.img-l{
    float: left;
    width: 30%;
}
.img-header2{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-top: 1px;
}
.img_bl{
    width: 30px;
    height: 30px;
}
.text_bl{
    width: 500px;
    height: 50px;
}
.dropdown{
    width: 200px;
    text-align: center;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
}
.dropdown-content a{
    display: block;
    color: black;
    padding: 3px 16px;

}
.dropdown-content a:hover{background-color: white}
.dropdown:hover .dropdown-content{
    display: block;
}
.img-avata{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding-top: 15px;
}
.div-user{
    display: grid;
    grid-template-columns: 30% 70%;
}
#username{
    padding-top: 15px;
}
.div-content-user{
    display: grid;
    grid-template-columns: 20% 50% 30%;
}
.ul-user li {
    line-height: 50px;
    height: 80px;

}
.ul-show{
    display: flex;
}
.input-user{
    height: 50%;
    max-width: 80%;
  font-size: 15px;
    border-radius: 5px;
}

.input-user2{
    height: 50%;
   max-width:50%;
}
#gt{
    margin-top: -10px;

}
.gioitinh{
    margin-left: 30px;
}
.div-left{
    margin-top: 50px;
}
.ul-user-left li{
    line-height: 50px;
}
.div-order{
    display: grid;
    grid-template-columns: 30% 10% 10% 20% 10% 20%;
}
.center{
    text-align: center;
}
.nd_bl{
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: solid 1px;
    border-bottom-color: #918f8f;
}
div.stars {
    width: 270px;
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
  padding: 10px;
    font-size: 25px;
    color: #444;
    transition: all .2s;
}
label.star2 {
    float: left;
    padding: 10px;
    font-size: 25px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

label.star-show{
    content: '\f005';
    color: #F62;
}
input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
label.star2:before {
    content: '\f006';
    font-family: FontAwesome;
}

.display_flex{
    display: flex;
}
.float-lefttt{
    float: left;
}
.width-50{
    width: 50%;
}
.kkk{
    width: 100%;
    display: flex;
}
.check{
    outline: none;
    border: none;
    text-align: center;
}
.text-lon{
    font-size: 50px;
}

.preview-img {max-width: 50%; max-height: 150px;margin: 0 1em 1em 0;padding: 0.5em;border: 1px solid #ccc; border-radius: 3px;}
.preview-img2 {max-width: 50%; max-height: 50px;margin: 0 1em 1em 0;padding: 0.5em;border: 1px solid #ccc; border-radius: 3px;}

.chia_cot_table{
    display: grid;
    grid-template-columns: 38% 62%;
}
.profile-img{
max-width: 100%;
}
.chudam{
    font-weight: bold;
}

.div-xacnhan{
    display: grid;
    grid-template-columns: 30% 10% 15% 15% 18% 12%;
}
.div-xacnhan2{
    display: grid;
    grid-template-columns: 55% 15% 18% 12%;

    margin-top: 10px;
}
.div-xacnhan3{
    display: grid;
    grid-template-columns: 54.6% 18.1% 27.3% ;
}
.pading-am{
    margin-top: -35px;

}
.admin_vanchuyen{
    display: grid;
    grid-template-columns: 35% 35% 30%;
}
.input-vanchuyen{
    max-width: 130px;
    height: 30px;
}
.corso{
    cursor: pointer;
}
.sell-chitiet-order{
    display: grid;
    grid-template-columns: 10% 30% 30% 15% 15%;
    border-bottom: solid #718096 0.2px;
}
.bor{
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.12),
    1px 1px 1px rgba(0, 0, 0, 0.12),
    2px 2px 2px rgba(0, 0, 0, 0.12),
    3px 3px 3px rgba(0, 0, 0, 0.12),
    4px 4px 4px rgba(0, 0, 0, 0.12);
}
.btn-sell{
    width: 105px;
    margin-left: 5px;
}
.text-phai{
    text-align: right;
}
.float-right{
    float: right;
}
.div-vanchuyen{
    display: grid;
    grid-template-columns: 50% 50%;
}
.padding-top{
    padding-top: 10px;
}

.boder{
    border-radius: 10px;
    border-collapse: collapse;
    border: 2px white solid;
    box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
}
.margin-sl{
    margin-top: 15px;
}
.bottom-tt{
    margin-bottom: 30px;
}
.tong_ct{
    font-size: 20px;
    color: red;
    border: none;
}
.input-tt{
    width: 100px;
}
.border-none{
    border: none;
    outline: none;
}
a {
    text-decoration: none;

    color: black;
    transition: box-shadow .4s, color .3s;
}

a:hover {
    color: orangered;
    box-shadow: 0 3px yellow;
}
.main_giua{
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
background-image:url("https://scr.vn/wp-content/uploads/2020/07/H%C3%ACnh-n%E1%BB%81n-hoa-tinh-t%E1%BA%BF-th%E1%BA%ADt-%C4%91%E1%BA%B9p.jpg");
}
.child{

   width: 5git 00px;
    height: auto;
    margin: auto;
}
.giaohang{
    display: grid;
    grid-template-columns: 10% 20% 40% 30%;
}
.grid-50{
    display: grid;
    grid-template-columns: 50% 50%;
}
.width-100{
    width: 100%;
}
.border-bottom{
    border-bottom: 1px solid;
    border-radius: 10px;
}
.border-radius-10{
    border-radius: 10px;
}
.div-giaohang{
    display: grid;
    grid-template-columns: 50% 20% 30%;
}
.grid-70-30{
    display: grid;
    grid-template-columns: 70% 30%;
}
.grid-60-40{
    display: grid;
    grid-template-columns: 60% 40%;
}

----áº£nh
input[type="file"] {
    display: block;
    width: 20px;
}
.imageThumb {
    max-height: 60px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}
.pip {
    display: inline-block;
    margin: 10px 10px 0 0;
}
.remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}
.remove:hover {
    background: white;
    color: black